@font-face {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-style: normal;
  src: local(Open Sans)
      url(../fonts/font-open-sans-bold.woff2)format(woff2),
      url(../fonts/font-open-sans-bold.woff)format(woff);
  font-weight: bold;
}

@font-face {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-style: normal;
  src: local(Open Sans)
       url(../fonts/font-open-sans-regular.woff2)format(woff2)
       url(../fonts/font-open-sans-regular.woff2)format(woff);
  font-weight: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('BebasNeue-Regular.woff2') format('woff2'),
      url('BebasNeue-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
