footer {
  background-color: black;
}

.footer-container {
  border-block-end: 1px gray solid;
  margin-block-end: 22px;
}

.game_landing__footer--links{
  @include bolded-font;
  font-size: 12px;
}

.game_landing__footer-span {
  @include normal-white-font;
  font-size: 12px;
  opacity: 0.5;
}

.game_landing__footer__nav {
  display: flex;
  justify-content: center;
}

.game_landing__footer__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 22px;
  padding-block-start: 44.75px;
  text-align: justify;
}

.game_landing__footer__items:nth-of-type(4) {
  grid-column: 1 / 3;
}
.icons {
  display: block;
  text-indent: -9999px;
}

.game_landing__footer__list--icons {
  display: flex;
  justify-content: center;
  padding-block-start: 44.75px;
  padding-block-end: 44.75px;
}

.game_landing__footer__items--icons {
  width: 70px;
}
.game_landing__footer--links--icons--facebook {
  background-image: url(../image/facebook-icon.svg);
  background-repeat: no-repeat;
}

.game_landing__footer--links--icons--twitter {
  background-image: url(../image/twitter.svg);
  background-repeat: no-repeat;
}

.game_landing__footer--links--icons--video {
  background-image: url(../image/video-icon.svg);
  background-repeat: no-repeat;
}

.game_landing__footer--links--icons--witch {
  background-image: url(../image/message-icons.svg);
  background-repeat: no-repeat;
}

.game_landing__footer--rule--links {
  @include normal-white-font;
  font-size: 12px;
}

.game_landing__footer--rule {
  margin-block-start: 40px;
}

.game_landing__footer--rule__items:nth-of-type(2),
.game_landing__footer--rule__items:nth-of-type(3) {
  padding-block-start: 16px;
}

.game_landing__footer--rule__items:nth-of-type(3) {
  padding-block-end: 63.58px;
}

@media(min-width:1000px) {
  .game_landing__footer--container {
    @include max-width-container;
  }

  .game_landing__footer--container--contents {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .game_landing__footer__list {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .game_landing__footer-span {
    display: flex;
  }

  .game_landing__footer--rule {
    margin-block-start: -36px;
    display: flex;
    justify-content: flex-end;
  }

  .game_landing__footer--rule__list {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 300px;
    justify-content: space-between;
  }
}
