footer {
  background-color: black;
}

.sub_container__footer--links{
  @include bolded-font;
  font-size: 12px;
}

.footer-span {
  @include normal-white-font;
  font-size: 12px;
  opacity: 0.5;
  border-block-start: 1px gray solid;
  padding-block-start: 16px;
}

.sub_container__footer__nav {
  display: flex;
  justify-content: center;
}

.sub_container__footer__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 22px;
  padding-block-start: 44.75px;
  text-align: justify;
}

.sub_container__footer__items:nth-of-type(4) {
  grid-column: 1 / 3;
}
.icons {
  display: block;
  text-indent: -9999px;
}

.sub_container__footer__list--icons {
  display: flex;
  justify-content: center;
  padding-block-start: 44.75px;
  padding-block-end: 44.75px;
}

.sub_container__footer__items--icons {
  width: 70px;
}
.sub_container__footer--links--icons--facebook {
  background-image: url(../image/facebook-icon.svg);
  background-repeat: no-repeat;
}

.sub_container__footer--links--icons--twitter {
  background-image: url(../image/twitter.svg);
  background-repeat: no-repeat;
}

.sub_container__footer--links--icons--video {
  background-image: url(../image/video-icon.svg);
  background-repeat: no-repeat;
}

.sub_container__footer--links--icons--witch {
  background-image: url(../image/message-icons.svg);
  background-repeat: no-repeat;
}

.sub_container__footer--rule--links {
  @include normal-white-font;
  font-size: 12px;
}

.sub_container__footer--rule {
  margin-block-start: 40px;
}

.sub_container__footer--rule__items:nth-of-type(2),
.sub_container__footer--rule__items:nth-of-type(3) {
  padding-block-start: 16px;
}

.sub_container__footer--rule__items:nth-of-type(3) {
  padding-block-end: 63.58px;
}
