.game-landing--newsletter {
  background-color: black;
  background-image: url(../image/bg-newsletter.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

