.game_landing--description {
  background-image: url(../image/desk-bg-desc.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.game_landing--description__header {
  padding-block-start: 48.99px;
  padding-inline-start: 13.81px;
  text-align: justify;
  border-bottom: 1px white solid;
}

.game_landing--description__heading2 {
  @include Bebas-neue-font;
  font-size: 24px;
  line-height: 24px;
}

.game_landing--description--title {
  @include Bebas-neue-font;
  text-transform: uppercase;
}

.game_landing--description--desc {
  @include normal-white-font;
}

.game_landing--description--contents {
  padding: 16px;
  text-align: justify;
}

.game_landing--description__image--conatainer {
  padding-block-end: 113%;
  padding-block-start: 46px;
}

.game_landing--description__list {
  margin: 0;
  padding: 0;
  position: relative;
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
}

.game_landing--description__image--items {
  position: absolute;
  top: 0;
  transform-origin: 100% 0%;
}

.game_landing--description__image--items:nth-of-type(1) {
  z-index: 3;
  left: 0;
  right: calc(100% * 24 / 249);
  transform: scale(1);
}

.game_landing--description__image--items:nth-of-type(2) {
  z-index: 2;
  width: calc(100% * 213 / 249);
  padding-top: 4%;
  right: calc(100% * 24 / 249);
  left: calc(100% * 24 / 249);
  transform: scale(calc((273 -24) / 296));
}

.game_landing--description__image--items:nth-of-type(3) {
  padding-block-start: calc(100% * 24 / 249);
  padding-left: calc(100% * 24 / 249);
  right: 0;
  transform: scale(calc((273 - 48) / 273));
}

img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media(min-width:1000px) {
  .game_landing--description--container {
    @include max-width-container;
    display: flex;
    margin-block-end: 148px;
  }

  .game_landing--description--title {
    font-size: 80px;
    line-height: 80px;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .game_landing--description--contents {
    padding-inline-start: calc(307px - 118.48px);
  }

  .game_landing--description--sub--container {
    width: 45%;
  }

  .game_landing--description__image--conatainer {
    width: 45%;
    margin-inline-start: auto;
    padding-block-end: 0;
  }
}

