
.game_landing--features--container {
  background-image: radial-gradient(17.45% 48.77% at 32.45% 42.62%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(4, 5, 6, 0.520671) 25.99%, rgba(6, 7, 8, 0.739601) 65.03%, #080A0B 99.74%);
  background-size: cover;
  background-position-x: -151px;
}

.game_landing--features__heading2 {
  @include Bebas-neue-font;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
}

.game_landing--features__header--desc {
  @include Bebas-neue-font;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.game_landing--features--desc {
  @include normal-white-font;
  font-size: 18px;
  text-align: justify;
  color: $white-color;
}

.game_landing--features__header {
  padding-block-start: 92.07px;
  text-align: justify;
}

.game_landing--features--container--contents {
  display: flex;
  flex-direction: row-reverse;
  border-block-start: 1px $white-color solid;
}

.game_landing--features--contents {
  z-index: 2;
  width: 60%;
}

details {
  position: relative;
}

summary::-webkit-details-marker {
  display: none;
}

details[open] > summary::before {
  position: relative;
  content: "";
  display: block;
  height: 1rem;
  width: 1rem;
  top: 1rem;
  border-radius: 50%;
  margin-inline-start: -1rem;
  background-color: #fff;
  z-index: 2;
}

details > summary::before {
  position: relative;
  content: "";
  display: block;
  height: 1rem;
  width: 1rem;
  top: 1rem;
  left: -1rem;
  border-radius: 50%;
  background-color: #080A0B;
  border: 1px solid #fff;
  margin-inline-start: -1rem;
  z-index: 2;
}

details::before {
  content: '';
  width: 0.25rem;
  height: 100%;
  position: absolute;
  top: 1rem;
  left: -1.5rem;
  bottom: 1rem;
  background-color: #ccc;
  z-index: 1;
}

ul> li:last-child details::before {
  top: -2rem;
}

.game_landing--features__figure {
  width: 50%;
  height: 100%;
  margin: 0;
  position: absolute;
  left: 0;
  z-index: -1;
}

.game_landing--features__items {
  @include normal-yellow-font;
  padding-block-start: 43px;
}

.game_landing--features__items:nth-of-type(3) {
  padding-block-end: 151px;
}

.game_landing--features__list {
  margin: 0;
  padding-inline-start: 16px;
  text-align: justify;
  padding-block-end: 0;
}

@media(min-width:1000px) {
  .game_landing--features {
    background-image: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080A0B 99.74%),
                      url(../image/desk-bg-features.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 17%;
  }

  .game_landing--features--container {
    @include max-width-container;
    background-image: none;
  }

  .game_landing--features__header--desc {
    font-size: 80px;
    line-height: 80px;
    margin: 0;
  }

  .game_landing--features__figure {
    display: none;
  }

  .game_landing--features__items {
    font-size: 36px;
    line-height: 36px;
  }

  .game_landing--features--container--contents {
    padding-inline-start: 37%;
  }
}



