.game_landing--requirements {
  background-image: url(../image/bg-third-art.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.game_landing--requirements__heading2 {
  @include Bebas-neue-font;
  font-size: 24px;
  padding-block-start: 65.51px;
  line-height: 24px;
  letter-spacing: 2px;
}

.game_landing--requirements--title {
  @include Bebas-neue-font;
  margin-block-start: 0;
}

.game_landing--requirements__links {
  @include normal-yellow-font;
}

.game_landing--requirements__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px gray solid;
  margin-inline-start: 11px;
  margin-inline-end: 19px;
  padding-inline-start: 0;
}

.game_landing--requirements__items {
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding-block-start: 9px;
  padding-inline-start: 9px;
  padding-inline-end: 9px;
}

.game_landing--requirements__items:nth-of-type(1),
.game_landing--requirements__items:nth-of-type(3) {
  border-inline-end: 1px gray solid;
  padding-inline-end: 10.17px;
}

.game_landing--requirements__items:nth-of-type(1),
.game_landing--requirements__items:nth-of-type(2),
.game_landing--requirements__items:nth-of-type(3),
.game_landing--requirements__items:nth-of-type(4) {
  border-block-end: 1px gray solid;
  padding-block-end: 9px;
}

.game_landing--requirements__items:nth-of-type(5) {
  padding-block-end: 9px;
}

.game_landing--requirements--desc {
  @include normal-white-font;
}

@media(min-width:1000px) {

  .game_landing--requirements {
    background-image: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%),
                      url(../image/desk-bg-requirement.png);
    background-repeat: no-repeat;
    background-size: 100%, 80%;
    background-size: cover;
    background-position: right bottom;
  }

  .game_landing--requirements--container {
    @include max-width-container;
  }

  .game_landing--requirements--title {
    font-size: 80px;
    line-height: 80px;
  }

  .game_landing--requirements__list {
    max-width: 50%;
    margin-block-end: 172px;
  }
}
