@import "variables";

.masthead {
  background-image: url(../image/bg-masthead-sm.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  background-position: center;
}

.masthead__heading2 {
  @include Bebas-neue-font;
  margin-block-start: 200px;
}

.masthead--title {
  @include Bebas-neue-font;
  font-size: 18px;
  line-height: 18px;
  margin-block-end: 39px;
}

.masthead-show-more {
  @include normal-white-font;
  padding-block-start: 189px;
  padding-block-end: 50px;
  padding-inline-start: 16.11px;
  margin: 0;
  text-align: justify;
}

.masthead-show-more {
  background-image: url(../image/scroll-down.svg);
  background-repeat: no-repeat;
  background-position: 3% 86%;
}

.masthead-show-more::after {
  content: url(../image/banners.svg);
  position: absolute;
  right: 16px;
}

.market--link {
  @include normal-black-font;
}

@media (min-width:1100px) {
  .masthead {
    background-image: url(../image/desk-bg-masthead.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    background-position: center;
  }

  .masthead__heading2 {
    font-size: 80px;
    margin-block-start: 570px;
  }

  .masthead-show-more::after {
    content: none;
  }

  .masthead-show-more {
    background-position: 50% 86%;
  }

  .masthead--container {
    @include max-width-container;
  }

  .masthead-show-more {
    text-align: center;
  }
}
