.game_landing--messages {
  background-color: black;
  padding-inline-start: 16px;
  padding-inline-end: 16px;
}

.game_landing--messages--market--link {
  @include normal-black-font;
  font-weight: bold;
}
.game_landing--messages--feature-link {
  @include normal-yellow-font;
}

.game_landing--messages__header {
  text-align: justify;
}

.game_landing--messages__heading2 {
  @include Bebas-neue-font;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  padding-block-start: 40.03px;
}

.game_landing--message__title {
  @include Bebas-neue-font;
  margin-block-start: 24px;
  margin-block-end: 38px;
}

.game_landing--messages__header--desc {
  @include normal-white-font;
  margin-block-end: 40.13px;
  text-align: justify;
}

.game_landing--messages--desc {
  @include normal-white-font;
  text-align: justify;
}

.game_landing--messages--features {
  display: flex;
  flex-direction: column;
}

.game_landing--messages--read-more {
  text-align: center;
}

.game_landing--messages--feature__heading3 {
  margin: 0;
}

// .game_landing--messages--feature::before {
//   content: url(../image/twitter.svg);
//   position: absolute;
//   // right: 30px;
// }

// .game_landing--messages--feature__heading3--sec::after {
//   content: url(../image/twitter.svg);
//   position: relative;
//   right: 16px;
// }

// .game_landing--messages--feature__heading3--third::after {
//   content: url(../image/twitter.svg);
//   position: relative;
//   right: 16px;
// }

.game_landing--messages--feature__heading3--prim::before {
  content: url(../image/first-profile.svg);
  position: relative;
  top: 1.5rem;
}

.game_landing--messages--feature__heading3--sec::before {
  content: url(../image/secondary-profile.svg);
  position: relative;
  top: 1.5rem;
}

.game_landing--messages--feature__heading3--third::before {
  content: url(../image/third-profile.svg);
  position: relative;
  top: 1.5rem;
}

.game_landing--messages--feature {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  padding-block-end: 16px;
  text-align: justify;
  padding-inline-start: 16px;
  padding-inline-end: 16px;
}

.game_landing--messages--feature:nth-of-type(1) {
  margin-block-start: 30.13px;
}

.game_landing--messages--feature:nth-of-type(2),
.game_landing--messages--feature:nth-of-type(3) {
  margin-block-start: 20.39px;
}

.game_landing--messages__span {
  @include normal-white-font;
  font-size: 12px;
  opacity: 0.5;
}

.game_landing--messages__span--header {
  padding-inline-start: 46px;
}

.game_landing--messages--feature:nth-of-type(3) {
  margin-block-end: 46.98px;
}

@media(min-width:1000px) {
  .game_landing--messages--container {
    @include max-width-container;
    display: flex;
  }

  .game_landing--messages__header {
    margin-block-start: 227px;
  }

  .game_landing--messages__header--desc {
    max-width: 79%;
  }

  .game_landing--messages--features {
    align-items: flex-end;
  }

  .game_landing--messages--feature {
    width: 300px
  }

  .game_landing--message__title {
    font-size: 80px;
    line-height: 80px;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .game_landing--messages--desc {
     text-align: justify;
  }

  .game_landing--messages--read-more {
    text-align: justify;
  }

  .game_landing--messages--feature:nth-of-type(1) {
    margin-block-start: 160px;
  }

  .game_landing--messages--feature:nth-of-type(2) {
    margin-inline-end: 107px;
  }

  .game_landing--messages--feature:nth-of-type(3) {
    margin-block-end: 148px;
  }
}


