.game_landing--features {
  background-image: url(../image/desk-bg-features.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 16% 50%;
  // padding-block-start: 57.85px;
}

.game_landing--features--container {
  background-image: url(../image/desk-bg-desc.png);
  background-repeat: no-repeat;
}

// .sub_container__features__heading2 {
//   padding-block-start:
// }

.sub_container__features__header {
  padding-block-start: 92.07px;;
}

.sub_container__features__items {
  @include normal-yellow-font;
}

.sub_container__features__list {
  margin: 0;
  padding-block-end: 85.81px;
}
