
.game_landing--features {
  background-image: url(../image/desk-bg-desc.png);
  background-repeat: no-repeat;

}

.game_landing--features__heading2 {
  @include Bebas-neue-font;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
}

.game_landing--features__header--desc {
  @include Bebas-neue-font;
  line-height: 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.game_landing__summary::-webkit-details-marker {
  display: none;
}

.game_landing__details {
  position: relative;
}

.game_landing__details::before {
  content: '';
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid $white;
  position: absolute;
  top: 0.5rem;
  left: -2rem;
}

.game_landing__details::after {
  content: '';
  border: 1px solid $white;
  height: calc(1rem + 6px);
  position: absolute;
}

.game_landing--features--desc {
  @include normal-white-font;
  font-size: 18px;
  text-align: justify;
  color: $white-color;
}

.game_landing__details[open] {
  padding-left: 50%;
}

.game_landing--features--container--contents {
  display: flex;
  flex-direction: row-reverse;
}

.game_landing--features--contents {
  z-index: 2;
}

.game_landing--features__figure {
  display: flex;
  flex-direction: column;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  position: absolute;
  left: 0;
}

.game_landing--feature__img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.game_landing--features__header {
  padding-block-start: 92.07px;
  text-align: justify;
}

.game_landing--features__items {
  @include normal-yellow-font;
  padding-block-start: 43px;
}

.game_landing--features__items:nth-of-type(3) {
  padding-block-end: 151px;
}

.game_landing--features__list {
  margin: 0;
  padding-inline-start: 16px;
  text-align: justify;
  padding-block-end: 0;
}

@media(min-width:1000px) {
  .game_landing--features {
    background-image: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080A0B 99.74%),
                      url(../image/desk-bg-features.png) ;
    background-repeat: no-repeat;
  }

  .game_landing--features__figure {
    display: none;
  }

  .game_landing--features--container {
    @include max-width-container;
  }

  .game_landing--features__desc {
    margin-block-start: 0;
  }
}



