.game-landing--newsletter {
  background-color: black;
}

.newsletter--approching {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter__header {
  text-align: justify;
  display: flex;
  flex-direction: row-reverse;
}

.newsletter--content {
  margin-block-start: 24px;
  padding-inline-start: 16px;
  padding-inline-end: 16px;
}

.input-container {
  display: flex;
  flex-direction: column;
  background: #ffffff14;
  border-radius: 3px;
  align-items: justify;
  margin-block-start: 16px;
  margin-block-end: 20.48px;
  padding-inline-start: 16px;
  width: calc(90% - 16px);
}

.newsletter__input {
  @include normal-yellow-font;
  font-size: 14px;
  background-color: transparent;
  outline: none;
  border-color: transparent;
}

.newsletter__label {
  @include normal-white-font;
  font-size: 12px;
  opacity: 0.5;
  text-align: justify;
}

.newsletter--figure {
  margin: 0;
}

.newsletter__btn {
  @include normal-black-font;
  font-weight: bold;
  outline: none;
  border-color: transparent;
  margin-block-end: 91.1px;
  width: 90%;
}

.newsletter--img {
  max-width: 100%;
  width: 423px;
  height: 523px;
  object-fit: cover;
  display: block;
}

@media(min-width:1000px) {
  .container--newsletter {
    @include max-width-container;
  }

  .newsletter__header {
    margin-block-end: calc(-16px * 7);
  }

  .newsletter--approching {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
  }

  .input-container {
    padding-block-start: 8px;
    padding-block-end: 8px;
    margin: 0;
    margin-inline-end: 16px;
    width: calc(290px - 16px);
  }

  .newsletter__btn {
    width: 200px;
  }

  .newsletter--figure {
    margin-inline-end: auto;
  }

  .newsletter--content {
    margin-block-start: 102px;
    width: 48%;
  }
}
