.game_landing--messages {
  background-color: black;
  padding-inline-start: 16px;
  padding-inline-end: 16px;
}

.market--link {
  @include normal-black-font;
  font-weight: bold;
}
.message--feature-link {
  @include normal-yellow-font;
}

.message__header {
  text-align: justify;
}

.message__heading2 {
  @include Bebas-neue-font;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  padding-block-start: 40.03px;
}

.game_landing--message__title {
  @include Bebas-neue-font;
}

.game_landing--messages--desc {
  @include normal-white-font;
}

.game_landing--messages--desc {
  margin-block-start: 40.13px;
  text-align: center;
}

.message--features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message--feature__heading3 {
  margin: 0;
}

.message--feature__heading3--prim::before {
  content: url(../image/first-profile.svg);
  position: relative;
  top: 1.5rem;
}

.message--feature__heading3--sec::before {
  content: url(../image/secondary-profile.svg);
  position: relative;
  top: 1.5rem;
}

.message--feature__heading3--third::before {
  content: url(../image/third-profile.svg);
  position: relative;
  top: 1.5rem;
}

.message--feature {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  padding-block-end: 16px;
  text-align: justify;
  padding-inline-start: 16px;
  padding-inline-end: 16px;
}

.message--feature {
  width: 300px
}

.message--feature:nth-of-type(1) {
  margin-block-start: 30.13px;
}

.message--feature:nth-of-type(2),
.message--feature:nth-of-type(3) {
  margin-block-start: 20.39px;
}

.message__span {
  @include normal-white-font;
  font-size: 12px;
  opacity: 0.5;
}

.message__span--header {
  padding-inline-start: 46px;
}

.message--feature:nth-of-type(3) {
  margin-block-end: 46.98px;
}

@media(min-width:1000px) {
  .game_landing--messages--container {
    @include max-width-container;
    display: flex;
  }

  .message__header {
    margin-block-start: 227px;
  }

  .game_landing--message__title {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .game_landing--messages--desc {
     width: 65%;
     text-align: justify;
     margin-block-end: 75px;
  }

  .game_landing--messages--read-more {
    text-align: justify;
  }

  .message--feature:nth-of-type(1) {
    margin-block-start: 160px;
  }

  .message--feature:nth-of-type(2) {
    margin-inline-end: 264.44px;
  }

  .message--feature:nth-of-type(3) {
    margin-block-end: 148px;
  }
}


