.title,
.heading2 {
  @include meduim-font;
}

.heading2 {
  margin: 0;
}

.masthead__heading2 {
  @include bolded-font;
  padding-block-start: 228.5px;
}

.masthead--title {
  @include bolded-font;
}

.sub_container__description__header {
  padding-block-start: 48.99px;
}



.desc {
  @include normal-white-font;
}
