@import "variables";

.masthead {
  background-image: url(../image/main-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  background-position: center;
}

.masthead-show-more {
  @include normal-white-font;
  padding-block-start: 189px;
  padding-block-end: 50px;
  padding-inline-start: 16.11px;
  margin: 0;
  text-align: justify;
}

.masthead-show-more__span {
  background-image: url(../image/scroll-down.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.market--link {
  @include normal-black-font;
}

// .masthead--link {
//   padding-block-end: 269.8px;
// }
