.game_landing--features {
  background-image: url(../image/bg-secondary.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.sub_container__description__heading2 {
  padding-block-end: 33.99px;
}
