@font-face {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-style: normal;
  src: local(Open Sans) url(../fonts/font-open-sans-bold.woff2) format(woff2), url(../fonts/font-open-sans-bold.woff) format(woff);
  font-weight: bold; }

@font-face {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-style: normal;
  src: local(Open Sans) url(../fonts/font-open-sans-regular.woff2) format(woff2) url(../fonts/font-open-sans-regular.woff2) format(woff);
  font-weight: normal; }

@font-face {
  font-family: 'Bebas Neue';
  src: url("BebasNeue-Regular.woff2") format("woff2"), url("BebasNeue-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  background-color: #E5E5E5;
  text-align: center;
  margin: 0;
  padding: 0; }

main {
  display: flex;
  flex-direction: column; }

.list {
  padding: 0;
  margin: 0; }

.game_landing--description {
  background-image: url(../image/desk-bg-desc.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%; }

.sub_container__description__header {
  padding-block-start: 48.99px;
  padding-inline-start: 13.81px;
  text-align: justify;
  border-bottom: 1px white solid; }

.sub_container__description--contents {
  padding: 16px;
  text-align: justify; }

.image-conatainer {
  padding-block-end: 113%;
  padding-block-start: 46px; }

.image-list {
  margin: 0;
  padding: 0;
  position: relative;
  margin-inline-start: 1rem;
  margin-inline-end: 1rem; }

.image-items {
  position: absolute;
  top: 0;
  transform-origin: 100% 0%; }

.image-items:nth-of-type(1) {
  z-index: 3;
  left: 0;
  right: calc(100% * 24 / 249);
  transform: scale(1); }

.image-items:nth-of-type(2) {
  z-index: 2;
  width: calc(100% * 213 / 249);
  padding-top: 4%;
  right: calc(100% * 24 / 249);
  left: calc(100% * 24 / 249);
  transform: scale(calc((273 -24) / 296)); }

.image-items:nth-of-type(3) {
  padding-block-start: calc(100% * 24 / 249);
  padding-left: calc(100% * 24 / 249);
  right: 0;
  transform: scale(calc((273 - 48) / 273)); }

img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; }

.title,
.heading2 {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 18px;
  color: white; }

.heading2 {
  margin: 0; }

.masthead__heading2 {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 33px;
  color: white;
  text-transform: uppercase;
  padding-block-start: 228.5px; }

.masthead--title {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 33px;
  color: white;
  text-transform: uppercase; }

.desc {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  color: white; }

.list {
  list-style: none; }

.items {
  text-decoration: none; }

a {
  text-decoration: none; }

.navigation-menu {
  display: none; }

.masthead {
  background-image: url(../image/bg-masthead-sm.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  background-position: center; }

.masthead-show-more {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  padding-block-start: 189px;
  padding-block-end: 50px;
  padding-inline-start: 16.11px;
  margin: 0;
  text-align: justify; }

.masthead-show-more__span {
  background-image: url(../image/scroll-down.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.market--link {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  color: #1A1917;
  background-color: #FFB548;
  border-radius: 4px;
  padding: 16px; }

.bd-header {
  width: 100%;
  position: absolute; }

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center; }

.menu {
  color: transparent;
  background-image: url(../image/menu-icon.svg);
  background-repeat: no-repeat; }

.dropdown {
  display: flex;
  justify-content: space-between;
  width: 150px;
  align-items: center; }

.heading1 {
  margin-inline-start: 15px; }

.masthead-icon {
  opacity: 0.5;
  color: #FFFFFF; }

.game_landing--features {
  background-image: url(../image/desk-bg-desc.png);
  background-repeat: no-repeat; }

.features--container {
  display: flex;
  flex-direction: row-reverse; }

.feature--figure {
  display: flex;
  flex-direction: column;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0; }

.feature--img {
  max-width: 100%;
  width: 100%;
  height: 100%; }

.sub_container__features__header {
  padding-block-start: 92.07px; }

.sub_container__features__items {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 21px;
  letter-spacing: 2px;
  color: #FFB548;
  padding-block-start: 43px; }

.sub_container__features__items:nth-of-type(3) {
  padding-block-end: 151px; }

.sub_container__features__list {
  margin: 0;
  padding-inline-start: 16px;
  text-align: initial;
  padding-block-end: 0; }

.game_landing--requirements {
  background-image: url(../image/bg-third-art.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }

.sub_container--usebility__heading2 {
  padding-block-start: 65.51px; }

.sub_container--usebility__links {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 21px;
  letter-spacing: 2px;
  color: #FFB548; }

.sub_container--usebility__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px gray solid;
  margin-inline-start: 11px;
  margin-inline-end: 19px;
  padding-inline-start: 0; }

.sub_container--usebility__items {
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding-block-start: 9px;
  padding-inline-start: 9px;
  padding-inline-end: 9px; }

.sub_container--usebility__items:nth-of-type(1),
.sub_container--usebility__items:nth-of-type(3) {
  border-inline-end: 1px gray solid;
  padding-inline-end: 10.17px; }

.sub_container--usebility__items:nth-of-type(1),
.sub_container--usebility__items:nth-of-type(2),
.sub_container--usebility__items:nth-of-type(3),
.sub_container--usebility__items:nth-of-type(4) {
  border-block-end: 1px gray solid;
  padding-block-end: 9px; }

.sub_container--usebility__items:nth-of-type(5) {
  padding-block-end: 9px; }

.sub_container--usebility--desc {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  color: white; }

.game_landing--messages {
  background-color: black;
  padding-inline-start: 16px;
  padding-inline-end: 16px; }

.market--link {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  color: #1A1917;
  background-color: #FFB548;
  border-radius: 4px;
  padding: 16px;
  font-weight: bold; }

.message--feature-link {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 21px;
  letter-spacing: 2px;
  color: #FFB548; }

.message__header {
  text-align: justify; }

.message__heading2 {
  padding-block-start: 40.03px; }

.game_landing--message__title {
  font-family: 'Bebas Neue',Helvetica, sans-serif;
  font-size: 80px;
  color: white;
  text-transform: uppercase; }

.game_landing--messages--desc {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  color: white; }

.game_landing--messages--desc {
  margin-block-start: 40.13px;
  text-align: center; }

.message--features {
  display: flex;
  flex-direction: column;
  align-items: center; }

.message--feature__heading3 {
  margin: 0; }

.message--feature__heading3--prim::before {
  content: url(../image/first-profile.svg);
  position: relative;
  top: 1.5rem; }

.message--feature__heading3--sec::before {
  content: url(../image/secondary-profile.svg);
  position: relative;
  top: 1.5rem; }

.message--feature__heading3--third::before {
  content: url(../image/third-profile.svg);
  position: relative;
  top: 1.5rem; }

.message--feature {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  padding-block-end: 16px;
  text-align: justify;
  padding-inline-start: 16px;
  padding-inline-end: 16px; }

.message--feature {
  width: 300px; }

.message--feature:nth-of-type(1) {
  margin-block-start: 30.13px; }

.message--feature:nth-of-type(2),
.message--feature:nth-of-type(3) {
  margin-block-start: 20.39px; }

.message__span {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  font-size: 12px;
  opacity: 0.5; }

.message__span--header {
  padding-inline-start: 46px; }

.message--feature:nth-of-type(3) {
  margin-block-end: 46.98px; }

@media (min-width: 1000px) {
  .game_landing--messages--container {
    max-width: 1114px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    display: flex; }
  .message__header {
    margin-block-start: 227px; }
  .game_landing--message__title {
    margin-block-start: 0;
    margin-block-end: 0; }
  .game_landing--messages--desc {
    width: 65%;
    text-align: justify;
    margin-block-end: 75px; }
  .game_landing--messages--read-more {
    text-align: justify; }
  .message--feature:nth-of-type(1) {
    margin-block-start: 160px; }
  .message--feature:nth-of-type(2) {
    margin-inline-end: 264.44px; }
  .message--feature:nth-of-type(3) {
    margin-block-end: 148px; } }

.game-landing--newsletter {
  background-color: black; }

.newsletter--approching {
  display: flex;
  flex-direction: column;
  align-items: center; }

.newsletter__header {
  text-align: justify;
  display: flex;
  flex-direction: row-reverse; }

.newsletter--content {
  margin-block-start: 24px;
  padding-inline-start: 16px;
  padding-inline-end: 16px; }

.input-container {
  display: flex;
  flex-direction: column;
  background: #ffffff14;
  border-radius: 3px;
  align-items: justify;
  margin-block-start: 16px;
  margin-block-end: 20.48px;
  padding-inline-start: 16px;
  width: calc(290px - 16px); }

.newsletter__input {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 21px;
  letter-spacing: 2px;
  color: #FFB548;
  font-size: 14px;
  background-color: transparent;
  outline: none;
  border-color: transparent; }

.newsletter__label {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  font-size: 12px;
  opacity: 0.5;
  text-align: justify; }

.newsletter--figure {
  margin: 0; }

.newsletter__btn {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  color: #1A1917;
  background-color: #FFB548;
  border-radius: 4px;
  padding: 16px;
  font-weight: bold;
  outline: none;
  border-color: transparent;
  margin-block-end: 91.1px;
  width: 290px; }

.newsletter--img {
  max-width: 100%;
  width: 423px;
  height: 523px;
  object-fit: cover;
  display: block; }

@media (min-width: 1000px) {
  .container--newsletter {
    max-width: 1114px;
    margin-inline-start: auto;
    margin-inline-end: auto; }
  .newsletter--approching {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end; }
  .input-container {
    padding-block-start: 8px;
    padding-block-end: 8px;
    margin: 0;
    margin-inline-end: 16px; }
  .newsletter--figure {
    margin-inline-end: auto; }
  .newsletter--content {
    width: 48%; } }

footer {
  background-color: black; }

.footer-container {
  border-block-end: 1px gray solid;
  margin-block-end: 22px; }

.game_landing__footer--links {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 33px;
  color: white;
  text-transform: uppercase;
  font-size: 12px; }

.game_landing__footer-span {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  font-size: 12px;
  opacity: 0.5; }

.game_landing__footer__nav {
  display: flex;
  justify-content: center; }

.game_landing__footer__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 22px;
  padding-block-start: 44.75px;
  text-align: justify; }

.game_landing__footer__items:nth-of-type(4) {
  grid-column: 1 / 3; }

.icons {
  display: block;
  text-indent: -9999px; }

.game_landing__footer__list--icons {
  display: flex;
  justify-content: center;
  padding-block-start: 44.75px;
  padding-block-end: 44.75px; }

.game_landing__footer__items--icons {
  width: 70px; }

.game_landing__footer--links--icons--facebook {
  background-image: url(../image/facebook-icon.svg);
  background-repeat: no-repeat; }

.game_landing__footer--links--icons--twitter {
  background-image: url(../image/twitter.svg);
  background-repeat: no-repeat; }

.game_landing__footer--links--icons--video {
  background-image: url(../image/video-icon.svg);
  background-repeat: no-repeat; }

.game_landing__footer--links--icons--witch {
  background-image: url(../image/message-icons.svg);
  background-repeat: no-repeat; }

.game_landing__footer--rule--links {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  font-size: 12px; }

.game_landing__footer--rule {
  margin-block-start: 40px; }

.game_landing__footer--rule__items:nth-of-type(2),
.game_landing__footer--rule__items:nth-of-type(3) {
  padding-block-start: 16px; }

.game_landing__footer--rule__items:nth-of-type(3) {
  padding-block-end: 63.58px; }

@media (min-width: 1000px) {
  .game_landing__footer--container {
    max-width: 1114px;
    margin-inline-start: auto;
    margin-inline-end: auto; }
  .game_landing__footer--container--contents {
    display: flex;
    justify-content: space-between;
    align-items: baseline; }
  .game_landing__footer__list {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .game_landing__footer-span {
    display: flex; }
  .game_landing__footer--rule {
    margin-block-start: -36px;
    display: flex;
    justify-content: flex-end; }
  .game_landing__footer--rule__list {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 300px;
    justify-content: space-between; } }
